

<div class="row">

    <div *ngIf="user" class="col-sm">
        <h1>{{title}}</h1>
        <hr>
        <div class="datos-usuario">
        <div class="perfil-s1" *ngIf="user">
            <img src="{{url + 'get-image-user/'+ user.image}}" *ngIf="user.image" class="card-img" />
            <img src="./assets/user-default.jpg" *ngIf="!user.image" class="card-img" />

        </div>

        <div class="perfil-s2">
            <div class="badge badge-info" *ngIf="followed">
                Te sigue
            </div>
            <p>{{user.name + ' '+ user.surname}}</p>
            <p><i>{{user.studies}}</i></p>
            <div class="follow">

                <button class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">
                    Seguir
                </button>
                <button class="btn btn-primary" *ngIf="following" (click)="unfollowUser(user._id)"
                    (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave()"
                    [class.btn-danger]="user._id == followUserOver">
                    <span *ngIf="user._id == followUserOver; else following">
                        Dejar de Seguir
                    </span>
                    <ng-template #following>
                        Siguiendo
                    </ng-template>

                </button>
            </div>
        </div>
        <hr class="perfil-stats-hr">
        <div class="perfil-stats" *ngIf="stats">
            <div class="following-data">
                <a [routerLink]="['/siguiendo', user._id, 1]">
                    <span class="label-stats">
                        Siguiendo
                    </span>
                    <span class="number-stats">
                        {{stats.following}}
                    </span>
                </a>
            </div>
            <div class="following-data">
                <a [routerLink]="['/seguidores', user._id, 1]">
                    <span class="label-stats">
                        Seguidores
                    </span>
                    <span class="number-stats">
                        {{stats.followed}}
                    </span>
                </a>
            </div>
            <div class="following-data">
                <a href="#">
                    <span class="label-stats">
                        Publicaciones
                    </span>
                    <span class="number-stats">
                        {{stats.publications}}
                    </span>
                </a>
            </div>
        </div>
        </div>
       <div *ngIf="user">
          <publications [user]="user._id"></publications> 
       </div> 
    </div>
    <div class="col-sm">
        <sidebar></sidebar>
    </div>
</div>